<div class="grid">
  <div class="grid-col grid-col_size6of12 content-col2-cell1 wysiwyg">
    <div class="feature">
      <%= raw parts[0] %>
    </div>
  </div>
  <div class="grid-col grid-col_size6of12 content-col2-cell2 wysiwyg">
    <div class="feature">
      <%= raw parts[1] %>
    </div>
  </div>
</div>
