<div class="grid">
  <div class="grid-col grid-col_size4of12 content-col3-cell1">
    <div class="feature">
      <%= raw parts[0] %>
    </div>
  </div>
  <div class="grid-col grid-col_size4of12 content-col3-cell2">
    <div class="feature">
      <%= raw parts[1] %>
    </div>
  </div>
  <div class="grid-col grid-col_size4of12 content-col3-cell3">
    <div class="feature">
      <%= raw parts[2] %>
    </div>
  </div>
</div>
