<% if @page.content_for(:second_full_width).to_s.present? %>
  <div class="grid">
    <div class="grid-col grid-col_size12of12">
      <%= raw @page.content_for(:second_full_width) %>
    </div>
  </div>
<% end %>