<% if @page.content_for(:left_2_col).to_s.present? %>
  <div class="grid">
    <div class="grid-col grid-col_size6of12">
      <div class="feature">
        <%= raw @page.content_for(:left_2_col) %>
      </div>
    </div>
    <div class="grid-col grid-col_size6of12">
      <div class="feature">
        <%= raw @page.content_for(:right_2_col) %>
      </div>
    </div>
  </div>
<% end %>