<% (1..6).each do |row| %>
  <%
    parts = (1..3).map { |column| @page.content_for(:"r#{row}c#{column}") }.compact.select { |p| content = p.to_s.strip; content.present? && content != "<p></p>" }
    parts_length = parts.length
    if 1 <= parts_length && parts_length <= 3
  %>
    <div class="grid">
    <% parts.each_with_index do |part,i| %>
      <div class="grid-col grid-col_size<%= 12 / parts_length %>of12 content-col<%= parts_length %>-cell<%= i+1 %> wysiwyg">
        <div class="feature">
          <%= raw part %>
        </div>
      </div>
    <% end %>
    </div>
  <% end %>
<% end %>
