/* ---------------------------------------------------------------------
Original Author: Matt Duffin
Contributors: Peter Schultz, Wilson Lewis

Target Browsers: IE8 conditional styles sheet 
Media Type: Screen, Projection
Width: All Sizes
------------------------------------------------------------------------ */

.site-ft-logo { display: block; }

.navPrimary {
    display: block;
}

.navPrimaryMobile {
    display: none;
}

.navPrimary-toggle {
    display: none;
}

.donate {
    width: auto;
}
.donate-btn {
    width: 140px;
    padding: 11px 0;
}

.contactUs {
    width: auto;
    right: 190px;
    top: 5px;
    padding: 0;
}
.contactUs-btn {
    font: 14px/1 'Varela Round', Helvetica, Arial, sans-serif;
    color: #00aeef;
    background: none;
    padding: 0px;
    width: auto;
    display: inline;
}

.hero-carousel { 
    position: relative;
    width: 100%; 
    height: 500px; 
    color: #fff;
    overflow: hidden;
    display: block;
}

.slides li {
    position: absolute;
    display: none;
}

.slides li.active {
    display: block;
    z-index: 10;
}

.slides li.exiting {
    display: block;
    z-index: 0;
}

.hero-carousel-bd { 
    padding: 50px 30px;
    height: 400px;
    width: 240px;
}

.hero-carousel-bd h2 { font-size: 34px; line-height: 1.2em; margin-bottom: 20px; }
.hero-carousel-bd p { font-style: italic; line-height: 1.4em; margin-bottom: 30px; }
.hero-carousel-bd a { color: #fff; padding: 10px 20px; }

.no-image .hero-carousel-bd { 
    padding: 50px 60px;
    width: 840px
}

.no-image .hero-carousel-bd h2 { font-size: 64px; line-height: 1.2em; margin-bottom: 20px; }
.no-image .hero-carousel-bd p { font-size: 21px; margin-bottom: 40px; }

.hero-carousel-img {
    position: absolute;
    top: 0;
    left: 300px;
    width: 660px;
    height: 500px;
}

.hero-carousel-bd a { text-transform: uppercase; font-style: normal; }
.hero-carousel-bd a:hover { background: #fff; }

.blue .hero-carousel-bd { background: #00aeef; }
.blue .hero-carousel-img { background: #00aeef; }
.blue .hero-carousel-bd a { background: #01729c; }
.blue .hero-carousel-bd a:hover { color: #01729c; background: #fff; }

.green .hero-carousel-bd { background: #b7d433; }
.green .hero-carousel-img { background: #b7d433; }
.green .hero-carousel-bd a { background: #0a913b; }
.green .hero-carousel-bd a:hover { color: #0a913b; background: #fff; }

.purple .hero-carousel-bd { background: #a854a1; }
.purple .hero-carousel-img { background: #a854a1; }
.purple .hero-carousel-bd a { background: #4c2d85; }
.purple .hero-carousel-bd a:hover { color: #4c2d85; background: #fff; }

.yellow .hero-carousel-bd { background: #ffc749; }
.yellow .hero-carousel-img { background: #ffc749; }
.yellow .hero-carousel-bd a { background: #e77025; }
.yellow .hero-carousel-bd a:hover { color: #e77025; background: #fff; }

.hero-carousel .pagination-wrapper {
    position: absolute;
    width: 100%;
    bottom: 0;
    z-index: 20;
}

.hero-carousel .pagination {
    margin: 0 auto;
    text-align: center;
}

.hero-carousel .pagination li { 
    display: inline-block; 
    font-size: 34px;
    margin: 0 4px;
}

.hero-carousel .pagination a { color: #fff; }
.hero-carousel .pagination .active a { color: #01729c; }
.hero-carousel .pagination a:hover { color: #01729c; }

.grid-col {
    position: relative;
    float: left;
}

.grid-col + .grid-col {
    margin-left: 2.12766%;
}

/* grid column sizes */
.grid-col_size1of12 { width: 6.38297%; }
.grid-col_size2of12 { width: 14.89361%; }
.grid-col_size3of12 { width: 23.40425%; }
.grid-col_size4of12 { width: 31.91489%; }
.grid-col_size5of12 { width: 40.42553%; }
.grid-col_size6of12 { width: 48.93617%; }
.grid-col_size7of12 { width: 57.4468%; }
.grid-col_size8of12 { width: 65.95744%; }
.grid-col_size9of12 { width: 74.46808%; }
.grid-col_size10of12 { width: 82.97872%; }
.grid-col_size11of12 { width: 91.48936%; }
.grid-col_size12of12 { width: 100.0%; }

/* grid column prefixes */
.grid-col_prefix1of12 { margin-left: 8.51063%; }
.grid-col_prefix2of12 { margin-left: 17.02127%; }
.grid-col_prefix3of12 { margin-left: 25.53191%; }
.grid-col_prefix4of12 { margin-left: 34.04255%; }
.grid-col_prefix5of12 { margin-left: 42.55319%; }
.grid-col_prefix6of12 { margin-left: 51.06382%; }
.grid-col_prefix7of12 { margin-left: 59.57446%; }
.grid-col_prefix8of12 { margin-left: 68.085106%; }
.grid-col_prefix9of12 { margin-left: 76.59574%; }
.grid-col_prefix10of12 { margin-left: 85.10638%; }
.grid-col_prefix11of12 { margin-left: 93.61702%; }

/* grid column suffixes */
.grid-col_suffix1of12 { margin-right: 8.51063%; }
.grid-col_suffix2of12 { margin-right: 17.02127%; }
.grid-col_suffix3of12 { margin-right: 25.53191%; }
.grid-col_suffix4of12 { margin-right: 34.04255%; }
.grid-col_suffix5of12 { margin-right: 42.55319%; }
.grid-col_suffix6of12 { margin-right: 51.06382%; }
.grid-col_suffix7of12 { margin-right: 59.57446%; }
.grid-col_suffix8of12 { margin-right: 68.085106%; }
.grid-col_suffix9of12 { margin-right: 76.59574%; }
.grid-col_suffix10of12 { margin-right: 85.10638%; }
.grid-col_suffix11of12 { margin-right: 93.61702%; }

/* grid column push */
.grid-col_push1of12 { left: 8.51063%; }
.grid-col_push2of12 { left: 17.02127%; }
.grid-col_push3of12 { left: 25.53191%; }
.grid-col_push4of12 { left: 34.04255%; }
.grid-col_push5of12 { left: 42.55319%; }
.grid-col_push6of12 { left: 51.06382%; }
.grid-col_push7of12 { left: 59.57446%; }
.grid-col_push8of12 { left: 68.085106%; }
.grid-col_push9of12 { left: 76.59574%; }
.grid-col_push10of12 { left: 85.10638%; }
.grid-col_push11of12 { left: 93.61702%; }

/* grid column pull */
.grid-col_pull1of12 { left: -8.51063%; }
.grid-col_pull2of12 { left: -17.02127%; }
.grid-col_pull3of12 { left: -25.53191%; }
.grid-col_pull4of12 { left: -34.04255%; }
.grid-col_pull5of12 { left: -42.55319%; }
.grid-col_pull6of12 { left: -51.06382%; }
.grid-col_pull7of12 { left: -59.57446%; }
.grid-col_pull8of12 { left: -68.085106%; }
.grid-col_pull9of12 { left: -76.59574%; }
.grid-col_pull10of12 { left: -85.10638%; }
.grid-col_pull11of12 { left: -93.61702%; }
