<div class="site-ft">
        <div class="wrapper">
            <div class="site-ft-box">
                <ul>
                    <li><a href="">link</a></li>
                    <li><a href="">link</a></li>
                    <li><a href="">link</a></li>
                    <li><a href="">link</a></li>
                </ul>
            </div>
            <!-- /site-ft-box -->
        </div>
    </div>
    <!-- /site-ft -->