<div class="site-ft">
        <div class="wrapper">
            <div class="donate">
                <a class="donate-btn" href="/get-involved/donate">donate</a>
            </div>
            <div class="site-ft-box">
                <div class="grid">
                    <div class="grid-col grid-col_size3of12">
                        <div class="site-ft-logo">
                            <a href=""><img src="/assets/hope_logo_footer.png" /></a>
                        </div>
                    </div>
                    <div class="grid-col grid-col_size3of12">
                        <ul class="vList vList_footer">
                            <li><a href="">Get Involved</a></li>
                            <li><a href="">Site Map</a></li>
                            <li><a href="">Privacy Policy</a></li>
                            <li><a href="">Terms</a></li>
                        </ul>
                    </div>
                    <div class="grid-col grid-col_size6of12">
                        <ul class="vList vList_footer">
                            <li><a href="">Contact</a></li>
                            <li><a href="">Hague Accreditation</a></li>
                            <li><a href="">Our Newsletter</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /grid -->
                <div class="grid">
                    <div class="grid-col grid-col_prefix3of12 grid-col_size7of12">
                        <div class="legalese">
                            <p>Copyright © 2012 HOPE Adoption &amp; Family Services International, Inc.</p>
                        </div>
                    </div>
                    <div class="grid-col grid-col_size2of12">
                        <ul class="hList hList_social">
                            <li><a href="">Facebook</a></li>
                            <li><a class="twitter" href="">Twitter</a></li>
                            <li><a class="youtube" href="">Youtube</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- /site-ft-box -->
        </div>
    </div>
    <!-- /site-ft -->
<!-- /site-ft -->