<div class="site-hd">
    <div class="wrapper">
        <div class="grid">
            <div class="site-hd-logo">
                <a href=""><img src="http://placehold.it/100x100&text=logo" /></a>
            </div>
        </div>
        <%= render(:partial => "/refinery/menu") %>
        <div class="donate">
            <a href="">donate</a>
        </div>
    </div>
    <!-- /wrapper -->
</div>
<!-- /site-hd -->