<div class="site-hd">
    <div class="wrapper">
        <div class="grid">
            <div class="site-hd-logo">
                <a href=""><img src="/assets/hope_logo.png" /></a>
            </div>
        </div>
        <%= render(:partial => "/refinery/menu") %>
        <!-- /grid -->
    </div>
    <div class="contactUs">
            <a class="contactUs-btn" href="">Contact Us</a>
        </div>
        <div class="donate">
            <a class="donate-btn" href="">donate</a>
        </div>
    <!-- /wrapper -->
</div>
<!-- /site-hd -->