<div class="site-hd">
    <div class="wrapper">
        <div class="grid">
            <div class="site-hd-logo">
                <a href=""><img src="/assets/hope_logo.png" /></a>
            </div>
        </div>
        <%= render(:partial => "/refinery/menu") %>
        <!-- /grid -->
    </div>
    <div class="contactUs">
        <a class="contactUs-btn" href="/about-us/contact-us">Contact Us</a>
    </div>
    <div class="donate">
        <a class="donate-btn" href="/get-involved/donate">donate</a>
    </div>
    <div class="navPrimary-toggle">
        <a class="navPrimary-toggle-btn" href="">
            <p class="navPrimary-toggle-bar"></p>
            <p class="navPrimary-toggle-bar"></p>
            <p class="navPrimary-toggle-bar"></p>
        </a>
    </div>
    <!-- /wrapper -->
</div>
<!-- /site-hd -->