<div class="site-hd">
    <div class="wrapper">
        <div class="grid">
            <div class="site-hd-logo">
                <a href="/"><img src="/assets/hope_logo.png" /></a>
            </div>
        </div>
        <%= render(:partial => "/refinery/menu", :locals => {:css => "navPrimary"}) %>
        <!-- /grid -->
        <div class="contactUs">
            <%= link_to "Contact Us", "/contact", {:class => 'contactUs-btn'} %>
        </div>
        <div class="donate">
            <a class="donate-btn" href="/get-involved/donate">donate</a>
        </div>
        <div class="navPrimary-toggle">
            <a class="navPrimary-toggle-btn" href="">
                <p class="navPrimary-toggle-bar"></p>
                <p class="navPrimary-toggle-bar"></p>
                <p class="navPrimary-toggle-bar"></p>
            </a>
        </div>
    </div>
    <!-- /wrapper -->
</div>
<!-- /site-hd -->
